$height: 60vh;
.landing-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.carousel-main-container{
    border-radius: 0.5rem;
    padding-top: 5.8rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.article-container{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
}

.article-list-container{
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 100%;
    overflow-x: scroll;
}

.article-list-container::-webkit-scrollbar{
    display: none;
}

.article-label{
    margin: 2rem 0rem 0rem 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

#article-cont{
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    min-width: calc(100% - 1rem);
    margin: 1rem;
}

#article-name{
    min-height: $height;
    max-height: $height;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

}

#article-cards{
    min-height: $height;
    max-height: $height;
    min-width: 80%;
    display: flex;
    justify-content: center;
    padding-left: 3vw;
    margin-top: 3rem;
}

.art-sec{
    min-width: 100%;
    height: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
}

