.card-container{
    min-width: 19rem;
    max-width: 19rem;
    min-height: 14rem;
    max-height: 14rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-container:hover{
    opacity: 0.8;
}