@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}